<%- include("partials/header") %>

<h1>Compose</h1>
<form action="" method="post">
<label for="compose">Title</label>
<br><input type="text" name="title" id="compose" style="width: 1080px; height:40px">
<br><label for="post">Post</label>
<br><textarea name="post" id = "post"cols="150" rows="10"></textarea>
<button class="btn btn-primary">submit</button>

</form>

<%- include("partials/footer") %>
